### Analyzing the performance of New York City (NYC) public schools in SAT tests is crucial for stakeholders like policy makers,educators, researchers, government agencies, and parents. SATs are standardized tests taken by American high school students annually, assessing literacy, numeracy, and writing skills. Comprising reading, math, and writing sections, each with a maximum score of 800 points, SAT scores are pivotal for college admissions.

### The dataset 'schools.csv' provides insights into NYC public school SAT performance. To address key questions about NYC public school SAT performance, comprehensive analysis is required.

In [34]:
# Import the pandas library and alias it as pd
import pandas as pd

# Read the content of the 'schools.csv' file into a pandas DataFrame named 'schools'
schools=pd.read_csv('schools.csv')

# Display the first few rows of the 'schools' DataFrame
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

# Q1. What NYC schools have the best math results?

In [35]:
# Filter schools with an average math score greater than or equal to 640(80%)
best_math_schhols = schools[schools['average_math']>=640]

# Select columns 'school_name' and 'average_math' for the filtered schools
best_math_schools = best_math_schools[['school_name','average_math']]

# Sort the filtered schools by 'average_math' score in descending order
best_math_schhols = best_math_schools.sort_values(by='average_math',ascending=False)

# Display the first few rows of the DataFrame containing the best math performing schools
best_math_schools.head()

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

# Q2. What are the top 10 performing schools based on the combined SAT scores??

In [36]:
# Calculate the total SAT score for each school by summing up the average scores for math, reading, and writing
schools['total_SAT']=schools['average_math']+schools['average_reading']+ schools['average_writing']

# Select the columns 'school_name' and 'total_SAT' for all schools in the dataset
# Sort the schools based on their total SAT scores in descending order
top_10_schools=schools[['school_name', 'total_SAT']].sort_values(by='total_SAT', ascending=False)

# Print the top 10 schools with the highest total SAT scores
print(top_10_schools.head(10))

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

# Q3. Which single borough has the largest standard deviation in the combined SAT score?

In [37]:
# Identify the borough with the highest standard deviation of SAT scores
borough_highest_std = largest_std_dev['std_SAT'].idxmax()

# Create a DataFrame with a single row containing information about the borough with the highest standard deviation
largest_std_dev_single_row = pd.DataFrame({
    'num_schools': largest_std_dev.loc[borough_highest_std, 'num_schools'],
    'average_SAT': largest_std_dev.loc[borough_highest_std, 'average_SAT'],
    'std_SAT': largest_std_dev.loc[borough_highest_std, 'std_SAT']
}, index=[borough_highest_std])

# Set the index name to 'borough' for clarity
largest_std_dev_single_row.index.name = 'borough'

# Print the DataFrame containing information about the borough with the highest standard deviation
print(largest_std_dev_single_row)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29